#b{
    display:box;
    width:480px;
    height:150px;
    border:1px dotted #000;
    background: rgb(81, 209, 22);
    box-sizing: border-box;
    text-align: center;
    line-height:150px;
}
#c{
    display:box;
    width:480px;
    height:125px;
    border:1px dotted #000;
    background: rgb(201, 116, 116);
    box-sizing: border-box;
    text-align: center;
    line-height:125px;

}
#d{
    display:box;
    width:480px;
    height:125px;
    border:1px dotted #000;
    background: rgb(19, 104, 214);
    box-sizing: border-box;
    text-align: center;
    line-height:125px;

}


